.maincontainer {
  padding-bottom: 100px;
  background-color: white;
}
.jobcontainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  /* align-items: center; */
}
.jobcontainer p {
  font-size: 16px;
  color: rgb(108, 104, 104);
}
.job {
  display: flex;
  width: max-content;
  min-width: 400px;
  min-height: 200px;
  max-width: 400px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.386);
}

.job:hover {
  background-color: aliceblue;
}
.save svg path {
  color: #088395;
}
.container img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 17%;
}
.employ {
  background-color: rgba(146, 142, 142, 0.144);
  padding: 3px;
  border-radius: 8px;
}
.employ p {
  color: black;
}
.applicants {
  /* background-color: rgba(134, 11, 134, 0.37); */
  padding: 3px;
  border-radius: 8px;
  /* background-color: #08829556; */
  background-color: rgba(146, 142, 142, 0.144);
  color: gray;
}
.type {
  /* background-color: rgba(196, 81, 9, 0.432); */
  padding: 3px;
  border-radius: 8px;
  background-color: rgba(146, 142, 142, 0.144);
  color: gray;
}
.last button {
  background-color: transparent;
  padding: 6px;
  width: 90px;
  border: none;
  border: 1px solid gray;
  border-radius: 8px;
  transition: 1s;
}
.last button:hover {
  background-color: #088395;
  color: white;
  border: 1px solid #088395;
  cursor: pointer;
}
.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.explore button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #02636d;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: #088295fc;
  }
}
.similar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
