.maincontainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;

    
}
.outlet{
    width:1200px
}
.sidebarlinks{
    display: flex;
    flex-direction: column;
}
.active{
    background-color: #078ea3;
}
.sidebarlinks a{
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.sidebarlinks a:hover{
    cursor: pointer;
    background-color: #078ea3;
   
}
.sidebar{
    height: 620px; /* Ensure a height is set */
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    width: 300px;
    background-color: #053b4350;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 20px; /* Distance from the top when sticky */
}
.form input {
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 8px;
  
}

.form button {
    width: auto;
    height: 40px;
    background-color: #088395;
    border: none;
    color: white;
}

.form button:hover {
    cursor: pointer;
    background-color: #078ea3;
}



@media screen and (max-width:540px) {
    .form {
        padding: 30px;
    }
}

.formcontainer h2 {
    text-align: center;
    color: rgb(78, 76, 76);

}
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: hidden;
}

.hidden {
    display: none;
}
.profile img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.show {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.profile {
    position: relative;
}

.addProfile {
    position: relative;
    font-size: 40px;
    bottom: 99px;
    padding: 0;
    margin: 0;
    left: 50px;
    z-index: 2;
}
.addProfile svg {

    background: rgba(3, 2, 29, 0.571);
    border-radius: 50%;
}
.addProfile svg path {
    color: white;
}
.imageformate {
    border-radius: 60%;
    height: 150px;
    overflow: hidden;
    width: 150px;
    margin: 30px;
}

.forflex {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    gap: 20px;
    margin-top: -40px;
}
.profileinfo{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* padding: 10px 50px; */
    /* margin:30px; */

}
.about{
    padding: 10px;
}

.about2:hover{

    cursor: pointer;
}
.skills{
    padding:10px;
}
.profileinfo h1{
        font-size: 25px;
        color:rgb(81, 79, 79);
        margin-bottom: -5px;
        z-index: 3;
        margin-left: 20px;
        display: inline;
}
@media screen and (max-width:564px) {
    .profile img {
        height: 150px;
    }

    .addProfile {
        font-size: 29px;
        bottom: 90px;
        left: 40px;
    }
    .name{
        margin-bottom: 19px;
    }
    
}
@media screen and (max-width:599px)
{
    .profileinfo{
        margin:0px;
        padding: 0;
    }
    .about2{
        padding: 0px;
        margin: 7px;
    }
    .about{
        padding: 9px;
    }

}
.formcontainer{
    background-color:#053b4350;
    border-radius: 20px;
    /* width: 700px; */

}
.maincontainer{
    display: flex;
    justify-content: center;
}
.tenth{
    display: flex;
    gap:20px;  
    border: 1px solid beige;
    padding: 20px;
}
.tenth svg path{
    font-size: 50px;
}
.savedjobs{
    margin:20px;
    display: flex;
    gap:20px;
    align-items: center;
}
.savedjobs h3:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}
@media screen and (max-width:800px)
{
    .maincontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:20px;
    }
     .sidebarlinks{
        display: flex;
        flex-direction: row;
        gap:10px;
        margin:0px;
        padding: 0px;
        align-items: center;  
     }
     .outlet{
        width: 100%;
     }
    
     .sidebar{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    
       
     }
     .sidebar{
        padding: 0px;
     }
}